<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="aopContainer">        
        <extension type="Interception"/> <!--增加拦截功能-->
        <!--命名空间.接口名称 , DLL名称/  命名空间.类名 , DLL名称-->
        <register type="ConsoleAOP.UnityConfig.IUserProcessor,ConsoleAOP" mapTo="ConsoleAOP.UnityConfig.UserProcessor,ConsoleAOP">
          <interceptor type="InterfaceInterceptor"/>
          <!--命名空间.类名 , DLL名称-->
          <interceptionBehavior type="ConsoleAOP.UnityConfig.ExceptionLog, ConsoleAOP"/>
          <interceptionBehavior type="ConsoleAOP.UnityConfig.CachingBehavior, ConsoleAOP"/>
          <interceptionBehavior type="ConsoleAOP.UnityConfig.LogBeforeBehavior, ConsoleAOP"/>
          <interceptionBehavior type="ConsoleAOP.UnityConfig.ParameterCheck, ConsoleAOP"/>
          <interceptionBehavior type="ConsoleAOP.UnityConfig.LogAfterBehavior, ConsoleAOP"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>